In [8]:
from sqlglot import parse_one, exp
from sqlglot.optimizer.scope import *

In [6]:



for a in traverse_scope(object):
    print(a.sources)

{'Table': (TABLE this:
  (IDENTIFIER this: Table, quoted: False))}
{'CTE': Scope<SELECT * FROM Table>, 'd': (TABLE this:
  (IDENTIFIER this: d, quoted: False))}
{'CTE': Scope<SELECT * FROM Table>, 'tmp': Scope<SELECT a, b FROM d>, 'c': Scope<SELECT * FROM Table>}

In [4]:
print(repr(object))

(SELECT expressions:
  (COLUMN this:
    (IDENTIFIER this: cola, quoted: False)),
  (ALIAS this:
    (ADD this:
      (COLUMN this:
        (IDENTIFIER this: colb, quoted: False)), expression:
      (LITERAL this: 1, is_string: False)), alias:
    (IDENTIFIER this: c, quoted: False)), from:
  (FROM this:
    (SUBQUERY this:
      (SELECT expressions:
        (COLUMN this:
          (IDENTIFIER this: a, quoted: False)),
        (COLUMN this:
          (IDENTIFIER this: b, quoted: False)), from:
        (FROM this:
          (TABLE this:
            (IDENTIFIER this: d, quoted: False)))), alias:
      (TABLEALIAS this:
        (IDENTIFIER this: tmp, quoted: False)))), joins:
  (JOIN this:
    (TABLE this:
      (IDENTIFIER this: CTE, quoted: False), alias:
      (TABLEALIAS this:
        (IDENTIFIER this: c, quoted: False))), kind: INNER, on:
    (EQ this:
      (COLUMN this:
        (IDENTIFIER this: cola, quoted: False), table:
        (IDENTIFIER this: tmp, quoted: False)), expression:
      (COLUMN this:
        (IDENTIFIER this: colb, quoted: False), table:
        (IDENTIFIER this: c, quoted: False)))), where:
  (WHERE this:
    (NEQ this:
      (COLUMN this:
        (IDENTIFIER this: cola, quoted: False), table:
        (IDENTIFIER this: tmp, quoted: False)), expression:
      (LITERAL this: A, is_string: True))), with:
  (WITH expressions:
    (CTE this:
      (SELECT expressions:
        (STAR ), from:
        (FROM this:
          (TABLE this:
            (IDENTIFIER this: Table, quoted: False)))), alias:
      (TABLEALIAS this:
        (IDENTIFIER this: CTE, quoted: False)))))

In [7]:
9print(repr(ast_2))

(SELECT expressions:
  (COLUMN this:
    (IDENTIFIER this: colA, quoted: False)),
  (COLUMN this:
    (IDENTIFIER this: colb, quoted: False)), from:
  (FROM this:
    (TABLE this:
      (IDENTIFIER this: table, quoted: False))), where:
  (WHERE this:
    (NEQ this:
      (COLUMN this:
        (IDENTIFIER this: cola, quoted: False)), expression:
      (LITERAL this: 1, is_string: False))))

In [27]:
ast_2 = build_scope(parse_one("""
                              


SELECT colA, colb FROM table t

  inner join (select id from tablea) a
                              on t.id  = a.id
                              
                               WHERE cola <> 1


"""))

In [216]:
object = parse_one("""
                   WITH CTE 
                   AS (SELECT cola as id FROM Table 
                   )
                   
                   SELECT cola, colb  AS newName, colc as NewName2 FROM (SELECT cola as cola2, colb FROM tabled) tmp
                   
                   INNER JOIN CTE cte
                   ON tmp.cola= cte.id
                   
                    where tmp.cola <> 'A'
                   
                   
                   """)

In [217]:
scope_ast = build_scope(object)

In [219]:

scope_ast.unqualified_columns[1]

(COLUMN this:
  (IDENTIFIER this: colb, quoted: False))

In [172]:
scope_ast.join_hints

[]

In [235]:
item = list(find_all_in_scope(scope_ast, exp.Alias))[0]
item2  = scope_ast.external_columns[1]

In [240]:
item1 = item.find(exp.Column)

''

In [249]:
isinstance(scope_ast.expression, exp.Select)

True

In [170]:
for select in scope_ast.find_all(exp.Select):
    print(select.expressions)

[(COLUMN this:
  (IDENTIFIER this: cola, quoted: False)), (ALIAS this:
  (COLUMN this:
    (IDENTIFIER this: colb, quoted: False)), alias:
  (IDENTIFIER this: newName, quoted: False))]