In [1]:
from sqlglot import parse_one, exp
from sqlglot.optimizer.scope import *

In [2]:


for a in traverse_scope(object):
    print(a.sources)

In [3]:
print(repr(object))

<class 'object'>

In [4]:
ast_2 = build_scope(parse_one("""
                              


SELECT colA, colb FROM table t

  inner join (select id from tablea) a
                              on t.id  = a.id
                              
                               WHERE cola <> 1


"""))

In [16]:
[a for a, i in ast_2.sources.items()]

['t', 'a']

In [19]:
sources = ast_2.sources

source = ((select for select in v.expression.selects if select.alias_or_name== 'a') 
            for k,v in sources.items()
            )

isinstance(sources['t'], exp.Table)

True

In [201]:
list(source)

AttributeError: 'NoneType' object has no attribute 'selects'

In [193]:
ast_2.sources['a'].sources

{'tablea': (TABLE this:
   (IDENTIFIER this: tablea, quoted: False))}

In [146]:
object = parse_one("""
                   WITH CTE 
                   AS (SELECT cola as id FROM Table 
                   )
                   
                   SELECT tmp.cola + colc as ha , colb + 1  AS newName, colc as NewName2 FROM (SELECT cola as cola2, colb FROM tabled) tmp
                   
                   INNER JOIN CTE cte
                   ON tmp.cola= cte.id
                   
                    where tmp.cola <> 'A'
                   
                   
                   """)

In [151]:
selects = list(scope_ast.expression.selects)

In [187]:
type(selects[2])

sqlglot.expressions.Alias

In [162]:
selects[0].find(exp.Column)

(COLUMN this:
  (IDENTIFIER this: cola, quoted: False), table:
  (IDENTIFIER this: tmp, quoted: False))

In [189]:
alias = selects[0].alias
columns = selects[0].find(exp.Column)
columns.is_star
     
type(columns)

sqlglot.expressions.Column

In [ ]:
# for x in scope_ast.expression.selects:
#     print(repr(x))
#     print(x.find_all(exp.Column))
#     print(x.alias)
#     print(x.alias_column_names)

scope_ast.expression.selects[1].alias

'newName'

In [147]:
scope_ast.sources

{'CTE': Scope<SELECT cola AS id FROM Table>,
 'tmp': Scope<SELECT cola AS cola2, colb FROM tabled>,
 'cte': Scope<SELECT cola AS id FROM Table>}

In [94]:
scope_ast.sources['CTE'].columns

[(COLUMN this:
   (IDENTIFIER this: cola, quoted: False))]

In [39]:
# Get Select part
# Ti cau select trong ast
selects = scope_ast.expression.selects
selects[0].

AttributeError: 'Column' object has no attribute 'Column'

In [56]:
scope_ast.sources

{'CTE': Scope<SELECT cola AS id FROM Table>,
 'tmp': Scope<SELECT cola AS cola2, colb FROM tabled>,
 'cte': Scope<SELECT cola AS id FROM Table>}

In [58]:
list(find_all_in_scope(scope_ast,exp.Column))

[(COLUMN this:
   (IDENTIFIER this: cola, quoted: False)),
 (COLUMN this:
   (IDENTIFIER this: colc, quoted: False)),
 (COLUMN this:
   (IDENTIFIER this: colb, quoted: False)),
 (COLUMN this:
   (IDENTIFIER this: cold, quoted: False)),
 (COLUMN this:
   (IDENTIFIER this: cola, quoted: False), table:
   (IDENTIFIER this: tmp, quoted: False)),
 (COLUMN this:
   (IDENTIFIER this: id, quoted: False), table:
   (IDENTIFIER this: cte, quoted: False)),
 (COLUMN this:
   (IDENTIFIER this: cola, quoted: False), table:
   (IDENTIFIER this: tmp, quoted: False))]

In [6]:

scope_ast.unqualified_columns[1]

AttributeError: 'NoneType' object has no attribute 'unqualified_columns'

In [ ]:
scope_ast.join_hints

[]

In [ ]:
item = list(find_all_in_scope(scope_ast, exp.Alias))[0]
item2  = scope_ast.external_columns[1]

In [27]:
item1 = item.find

item1

NameError: name 'item' is not defined

In [ ]:
isinstance(scope_ast.expression, exp.Select)

True

In [ ]:
for select in scope_ast.find_all(exp.Select):
    print(select.expressions)

[(COLUMN this:
  (IDENTIFIER this: cola, quoted: False)), (ALIAS this:
  (COLUMN this:
    (IDENTIFIER this: colb, quoted: False)), alias:
  (IDENTIFIER this: newName, quoted: False))]