In [27]:
from sqlglot import parse_one, exp
from sqlglot.optimizer.scope import *
from sqlglot.optimizer import qualify

In [2]:


for a in traverse_scope(object):
    print(a.sources)

In [3]:
print(repr(object))

<class 'object'>

In [4]:
ast_2 = build_scope(parse_one("""
                              


SELECT colA, colb FROM table t

  inner join (select id from tablea) a
                              on t.id  = a.id
                              
                               WHERE cola <> 1


"""))

In [31]:
ast_3 = build_scope(parse_one("""
                              


select cola, colb from table
Union
select col1, col2 from table2


"""))

source2= ast_3.union_scopes 
if source2:
    print("sa")

sa

In [32]:
queue = ['a', 'b', 'c']

while len(queue) > 0:
    print(queue.pop(0))

a
b
c

:

In [16]:
[a for a, i in ast_2.sources.items()]

['t', 'a']

In [21]:
sources = ast_2.sources

sources

{'t': (TABLE this:
   (IDENTIFIER this: table, quoted: False), alias:
   (TABLEALIAS this:
     (IDENTIFIER this: t, quoted: False))),
 'a': Scope<SELECT id FROM tablea>}

In [201]:
list(source)

AttributeError: 'NoneType' object has no attribute 'selects'

In [193]:
ast_2.sources['a'].sources

{'tablea': (TABLE this:
   (IDENTIFIER this: tablea, quoted: False))}

In [1]:
object = parse_one("""
                   WITH CTE 
                   AS (SELECT cola as id FROM Table 
                   )
                   
                   SELECT tmp.cola + colc as ha , colb + 1  AS newName, colc as NewName2 FROM (SELECT cola as cola2, colb FROM tabled) tmp
                   
                   INNER JOIN CTE cte
                   ON tmp.cola= cte.id
                   
                    where tmp.cola <> 'A'
                   
                   
                   """)

NameError: name 'parse_one' is not defined

In [32]:
from lineage import *

union_object = parse_one("""
                              


select cola, colb from table
Union
select col1, col2 from table2


""")

union_object = build_scope(qualify.qualify(union_object))

union_object.union_scopes[0].expression.selects
# for column in union_object.expression.selects:
#     node1 = build_column_node(column, scope=None, related_query=None)
#     print(node1.downstream)
    

# for col in column1.find_all(exp.Column):
#     print(col)

[(ALIAS this:
   (COLUMN this:
     (IDENTIFIER this: cola, quoted: True), table:
     (IDENTIFIER this: table, quoted: True)), alias:
   (IDENTIFIER this: cola, quoted: True)),
 (ALIAS this:
   (COLUMN this:
     (IDENTIFIER this: colb, quoted: True), table:
     (IDENTIFIER this: table, quoted: True)), alias:
   (IDENTIFIER this: colb, quoted: True))]

LineageNode(name='colb', type='alias', scope=None, related_query=(ALIAS this:
  (COLUMN this:
    (IDENTIFIER this: colb, quoted: True), table:
    (IDENTIFIER this: table, quoted: True)), alias:
  (IDENTIFIER this: colb, quoted: True)))

In [25]:
def build_column_node(column
                      , scope = None, related_query=None):
    """
    Build node based on input, if input column object has alias/function wrapped -> sepearated into 2 node 

    input: exp.Column/ exp.Alias component
    output: LineageNode object of the column
    
    """
    internal_node = None
    print(len(list(column.find_all(exp.Column))))
    if column.alias == '' and len(list(column.find_all(exp.Column))) == 1:
        # no alias found
        internal_node = LineageNode(column.alias_or_name, type = 'column', scope=None, related_query=None)
        print(internal_node)
    
    
    else:
        name = 'function' if column.alias == '' else column.alias
        internal_node = LineageNode(name, type = 'alias', scope=None, related_query=None)
        for col in column.find_all(exp.Column):
            print("Add column to ", internal_node)
            node_col = build_column_node(col, scope=None, related_query=None)
            node_col.upstream_related.append(internal_node)
            internal_node.downstream.append(node_col)


    return internal_node

# print(build_column_node(column1))
# print(repr(column1))
column1 = union_object.expression.selects[0]
node = build_column_node(column1)

1
Add column to  LineageNode(name='cola', type='alias', scope=None, related_query=None)
1
LineageNode(name='cola', type='column', scope=None, related_query=None)

In [26]:
id(node)
node.downstream[0].downstream

[LineageNode(name='cola', type='column', scope=None, related_query=None),
 LineageNode(name='cola', type='column', scope=None, related_query=None),
 LineageNode(name='cola', type='column', scope=None, related_query=None),
 LineageNode(name='cola', type='column', scope=None, related_query=None),
 LineageNode(name='cola', type='column', scope=None, related_query=None),
 LineageNode(name='cola', type='column', scope=None, related_query=None),
 LineageNode(name='cola', type='column', scope=None, related_query=None),
 LineageNode(name='cola', type='column', scope=None, related_query=None),
 LineageNode(name='cola', type='column', scope=None, related_query=None),
 LineageNode(name='cola', type='column', scope=None, related_query=None),
 LineageNode(name='cola', type='column', scope=None, related_query=None),
 LineageNode(name='cola', type='column', scope=None, related_query=None),
 LineageNode(name='cola', type='column', scope=None, related_query=None),
 LineageNode(name='cola', type='column', scope=None, related_query=None)]

In [29]:
LineageNode("s","a", None, None).downstream

[LineageNode(name='cola', type='column', scope=None, related_query=None),
 LineageNode(name='cola', type='column', scope=None, related_query=None),
 LineageNode(name='cola', type='column', scope=None, related_query=None),
 LineageNode(name='cola', type='column', scope=None, related_query=None),
 LineageNode(name='cola', type='column', scope=None, related_query=None),
 LineageNode(name='cola', type='column', scope=None, related_query=None),
 LineageNode(name='cola', type='column', scope=None, related_query=None),
 LineageNode(name='cola', type='column', scope=None, related_query=None),
 LineageNode(name='cola', type='column', scope=None, related_query=None),
 LineageNode(name='cola', type='column', scope=None, related_query=None),
 LineageNode(name='cola', type='column', scope=None, related_query=None),
 LineageNode(name='cola', type='column', scope=None, related_query=None),
 LineageNode(name='cola', type='column', scope=None, related_query=None),
 LineageNode(name='cola', type='column', scope=None, related_query=None)]

In [151]:
selects = list(scope_ast.expression.selects)

In [187]:
type(selects[2])

sqlglot.expressions.Alias

In [162]:
selects[0].find(exp.Column)

(COLUMN this:
  (IDENTIFIER this: cola, quoted: False), table:
  (IDENTIFIER this: tmp, quoted: False))

In [189]:
alias = selects[0].alias
columns = selects[0].find(exp.Column)
columns.is_star
     
type(columns)

sqlglot.expressions.Column

In [ ]:
# for x in scope_ast.expression.selects:
#     print(repr(x))
#     print(x.find_all(exp.Column))
#     print(x.alias)
#     print(x.alias_column_names)

scope_ast.expression.selects[1].alias

'newName'

In [147]:
scope_ast.sources

{'CTE': Scope<SELECT cola AS id FROM Table>,
 'tmp': Scope<SELECT cola AS cola2, colb FROM tabled>,
 'cte': Scope<SELECT cola AS id FROM Table>}

In [94]:
scope_ast.sources['CTE'].columns

[(COLUMN this:
   (IDENTIFIER this: cola, quoted: False))]

In [39]:
# Get Select part
# Ti cau select trong ast
selects = scope_ast.expression.selects
selects[0].

AttributeError: 'Column' object has no attribute 'Column'

In [56]:
scope_ast.sources

{'CTE': Scope<SELECT cola AS id FROM Table>,
 'tmp': Scope<SELECT cola AS cola2, colb FROM tabled>,
 'cte': Scope<SELECT cola AS id FROM Table>}

In [58]:
list(find_all_in_scope(scope_ast,exp.Column))

[(COLUMN this:
   (IDENTIFIER this: cola, quoted: False)),
 (COLUMN this:
   (IDENTIFIER this: colc, quoted: False)),
 (COLUMN this:
   (IDENTIFIER this: colb, quoted: False)),
 (COLUMN this:
   (IDENTIFIER this: cold, quoted: False)),
 (COLUMN this:
   (IDENTIFIER this: cola, quoted: False), table:
   (IDENTIFIER this: tmp, quoted: False)),
 (COLUMN this:
   (IDENTIFIER this: id, quoted: False), table:
   (IDENTIFIER this: cte, quoted: False)),
 (COLUMN this:
   (IDENTIFIER this: cola, quoted: False), table:
   (IDENTIFIER this: tmp, quoted: False))]

In [6]:

scope_ast.unqualified_columns[1]

AttributeError: 'NoneType' object has no attribute 'unqualified_columns'

In [ ]:
scope_ast.join_hints

[]

In [ ]:
item = list(find_all_in_scope(scope_ast, exp.Alias))[0]
item2  = scope_ast.external_columns[1]

In [27]:
item1 = item.find

item1

NameError: name 'item' is not defined

In [ ]:
isinstance(scope_ast.expression, exp.Select)

True

In [ ]:
for select in scope_ast.find_all(exp.Select):
    print(select.expressions)

[(COLUMN this:
  (IDENTIFIER this: cola, quoted: False)), (ALIAS this:
  (COLUMN this:
    (IDENTIFIER this: colb, quoted: False)), alias:
  (IDENTIFIER this: newName, quoted: False))]