In [117]:
from sqlglot import parse_one, exp
from sqlglot.optimizer.scope import *

In [118]:


for a in traverse_scope(object):
    print(a.sources)

In [119]:
print(repr(object))

<class 'object'>

In [121]:
print(repr(ast_2))

NameError: name 'ast_2' is not defined

In [122]:
ast_2 = build_scope(parse_one("""
                              


SELECT colA, colb FROM table t

  inner join (select id from tablea) a
                              on t.id  = a.id
                              
                               WHERE cola <> 1


"""))

In [139]:
object = parse_one("""
                   WITH CTE 
                   AS (SELECT cola as id FROM Table 
                   )
                   
                   SELECT cola, colb + 1  AS newName, colc as NewName2 FROM (SELECT cola as cola2, colb FROM tabled) tmp
                   
                   INNER JOIN CTE cte
                   ON tmp.cola= cte.id
                   
                    where tmp.cola <> 'A'
                   
                   
                   """)

In [141]:
scope_ast.external_columns

[(COLUMN this:
   (IDENTIFIER this: cola, quoted: False)),
 (COLUMN this:
   (IDENTIFIER this: colb, quoted: False)),
 (COLUMN this:
   (IDENTIFIER this: colc, quoted: False))]

{'kind': None,
 'hint': None,
 'distinct': None,
 'expressions': [(COLUMN this:
    (IDENTIFIER this: cola, quoted: False)),
  (ALIAS this:
    (COLUMN this:
      (IDENTIFIER this: colb, quoted: False)), alias:
    (IDENTIFIER this: newName, quoted: False)),
  (ALIAS this:
    (COLUMN this:
      (IDENTIFIER this: colc, quoted: False)), alias:
    (IDENTIFIER this: NewName2, quoted: False))],
 'limit': None,
 'from': (FROM this:
   (SUBQUERY this:
     (SELECT expressions:
       (ALIAS this:
         (COLUMN this:
           (IDENTIFIER this: cola, quoted: False)), alias:
         (IDENTIFIER this: cola2, quoted: False)),
       (COLUMN this:
         (IDENTIFIER this: colb, quoted: False)), from:
       (FROM this:
         (TABLE this:
           (IDENTIFIER this: tabled, quoted: False)))), alias:
     (TABLEALIAS this:
       (IDENTIFIER this: tmp, quoted: False)))),
 'joins': [(JOIN this:
    (TABLE this:
      (IDENTIFIER this: CTE, quoted: False), alias:
      (TABLEALIAS this:
        (IDENTIFIER this: cte, quoted: False))), kind: INNER, on:
    (EQ this:
      (COLUMN this:
        (IDENTIFIER this: cola, quoted: False), table:
        (IDENTIFIER this: tmp, quoted: False)), expression:
      (COLUMN this:
        (IDENTIFIER this: id, quoted: False), table:
        (IDENTIFIER this: cte, quoted: False))))],
 'where': (WHERE this:
   (NEQ this:
     (COLUMN this:
       (IDENTIFIER this: cola, quoted: False), table:
       (IDENTIFIER this: tmp, quoted: False)), expression:
     (LITERAL this: A, is_string: True))),
 'with': (WITH expressions:
   (CTE this:
     (SELECT expressions:
       (ALIAS this:
         (COLUMN this:
           (IDENTIFIER this: cola, quoted: False)), alias:
         (IDENTIFIER this: id, quoted: False)), from:
       (FROM this:
         (TABLE this:
           (IDENTIFIER this: Table, quoted: False)))), alias:
     (TABLEALIAS this:
       (IDENTIFIER this: CTE, quoted: False))))}

In [ ]:

list(find_all_in_scope(scope_ast, exp.Alias))

In [124]:
scope_ast = build_scope(object)

In [125]:

scope_ast.unqualified_columns[1]

(COLUMN this:
  (IDENTIFIER this: colb, quoted: False))

In [126]:
scope_ast.join_hints

[]

In [131]:
item = list(find_all_in_scope(scope_ast, exp.Alias))[0]
item2  = scope_ast.external_columns[1]

In [138]:
item1 = item.find

item1

<bound method Expression.find of (ALIAS this:
  (COLUMN this:
    (IDENTIFIER this: colb, quoted: False)), alias:
  (IDENTIFIER this: newName, quoted: False))>

In [249]:
isinstance(scope_ast.expression, exp.Select)

True

In [170]:
for select in scope_ast.find_all(exp.Select):
    print(select.expressions)

[(COLUMN this:
  (IDENTIFIER this: cola, quoted: False)), (ALIAS this:
  (COLUMN this:
    (IDENTIFIER this: colb, quoted: False)), alias:
  (IDENTIFIER this: newName, quoted: False))]