In [117]:
from sqlglot import parse_one, exp
from sqlglot.optimizer.scope import *

In [118]:


for a in traverse_scope(object):
    print(a.sources)

In [119]:
print(repr(object))

<class 'object'>

In [121]:
print(repr(ast_2))

NameError: name 'ast_2' is not defined

In [122]:
ast_2 = build_scope(parse_one("""
                              


SELECT colA, colb FROM table t

  inner join (select id from tablea) a
                              on t.id  = a.id
                              
                               WHERE cola <> 1


"""))

In [208]:
ast_2.sources['a']

Scope<SELECT id FROM tablea>

:

In [200]:
sources = ast_2.sources

source = ((select for select in v.expression.selects if select.alias_or_name== 'a') 
            for k,v in sources.items()
            )

sources

{'t': (TABLE this:
   (IDENTIFIER this: table, quoted: False), alias:
   (TABLEALIAS this:
     (IDENTIFIER this: t, quoted: False))),
 'a': Scope<SELECT id FROM tablea>}

In [201]:
list(source)

AttributeError: 'NoneType' object has no attribute 'selects'

In [193]:
ast_2.sources['a'].sources

{'tablea': (TABLE this:
   (IDENTIFIER this: tablea, quoted: False))}

In [146]:
object = parse_one("""
                   WITH CTE 
                   AS (SELECT cola as id FROM Table 
                   )
                   
                   SELECT tmp.cola + colc as ha , colb + 1  AS newName, colc as NewName2 FROM (SELECT cola as cola2, colb FROM tabled) tmp
                   
                   INNER JOIN CTE cte
                   ON tmp.cola= cte.id
                   
                    where tmp.cola <> 'A'
                   
                   
                   """)

In [151]:
selects = list(scope_ast.expression.selects)

In [187]:
type(selects[2])

sqlglot.expressions.Alias

In [162]:
selects[0].find(exp.Column)

(COLUMN this:
  (IDENTIFIER this: cola, quoted: False), table:
  (IDENTIFIER this: tmp, quoted: False))

In [189]:
alias = selects[0].alias
columns = selects[0].find(exp.Column)
columns.is_star
     
type(columns)

sqlglot.expressions.Column

In [ ]:

list(find_all_in_scope(scope_ast, exp.Alias))

In [147]:
scope_ast = build_scope(object)

In [125]:

scope_ast.unqualified_columns[1]

(COLUMN this:
  (IDENTIFIER this: colb, quoted: False))

In [126]:
scope_ast.join_hints

[]

In [131]:
item = list(find_all_in_scope(scope_ast, exp.Alias))[0]
item2  = scope_ast.external_columns[1]

In [138]:
item1 = item.find

item1

<bound method Expression.find of (ALIAS this:
  (COLUMN this:
    (IDENTIFIER this: colb, quoted: False)), alias:
  (IDENTIFIER this: newName, quoted: False))>

In [249]:
isinstance(scope_ast.expression, exp.Select)

True

In [170]:
for select in scope_ast.find_all(exp.Select):
    print(select.expressions)

[(COLUMN this:
  (IDENTIFIER this: cola, quoted: False)), (ALIAS this:
  (COLUMN this:
    (IDENTIFIER this: colb, quoted: False)), alias:
  (IDENTIFIER this: newName, quoted: False))]