In [2]:
from sqlglot import parse_one, exp
from sqlglot.optimizer.scope import *

In [3]:


for a in traverse_scope(object):
    print(a.sources)

In [4]:
print(repr(object))

<class 'object'>

In [5]:
ast_2 = build_scope(parse_one("""
                              


SELECT colA, colb FROM table t

  inner join (select id from tablea) a
                              on t.id  = a.id
                              
                               WHERE cola <> 1


"""))

In [12]:
ast_2.expression

(SELECT expressions:
  (COLUMN this:
    (IDENTIFIER this: colA, quoted: False)),
  (COLUMN this:
    (IDENTIFIER this: colb, quoted: False)), from:
  (FROM this:
    (TABLE this:
      (IDENTIFIER this: table, quoted: False), alias:
      (TABLEALIAS this:
        (IDENTIFIER this: t, quoted: False)))), joins:
  (JOIN this:
    (SUBQUERY this:
      (SELECT expressions:
        (COLUMN this:
          (IDENTIFIER this: id, quoted: False)), from:
        (FROM this:
          (TABLE this:
            (IDENTIFIER this: tablea, quoted: False)))), alias:
      (TABLEALIAS this:
        (IDENTIFIER this: a, quoted: False))), kind: inner, on:
    (EQ this:
      (COLUMN this:
        (IDENTIFIER this: id, quoted: False), table:
        (IDENTIFIER this: t, quoted: False)), expression:
      (COLUMN this:
        (IDENTIFIER this: id, quoted: False), table:
        (IDENTIFIER this: a, quoted: False)))), where:
  (WHERE this:
    (NEQ this:
      (COLUMN this:
        (IDENTIFIER this: cola, quoted: False)), expression:
      (LITERAL this: 1, is_string: False))))

In [33]:
object = parse_one("""
                   WITH CTE 
                   AS (SELECT cola as id FROM Table 
                   )
                   
                   SELECT cte.cola, colb + cold  AS newName, colc as NewName2, cola + colc FROM (SELECT cola as cola2, colb FROM tabled) tmp
                   
                   INNER JOIN CTE cte
                   ON tmp.cola= cte.id
                   
                    where tmp.cola <> 'A'
                   
                   
                   """)

In [34]:
scope_ast = build_scope(object)

In [11]:
scope_ast.

Scope<WITH CTE AS (SELECT cola AS id FROM Table) SELECT cte.cola, colb + cold AS newName, colc AS NewName2 FROM (SELECT cola AS cola2, colb FROM tabled) AS tmp INNER JOIN CTE AS cte ON tmp.cola = cte.id WHERE tmp.cola <> 'A'>

In [9]:
scope_ast.external_columns

[(COLUMN this:
   (IDENTIFIER this: colb, quoted: False)),
 (COLUMN this:
   (IDENTIFIER this: cold, quoted: False)),
 (COLUMN this:
   (IDENTIFIER this: colc, quoted: False))]

In [62]:

list(find_all_in_scope(scope_ast, exp.Alias))

[(ALIAS this:
   (ADD this:
     (COLUMN this:
       (IDENTIFIER this: colb, quoted: False)), expression:
     (COLUMN this:
       (IDENTIFIER this: cold, quoted: False))), alias:
   (IDENTIFIER this: newName, quoted: False)),
 (ALIAS this:
   (COLUMN this:
     (IDENTIFIER this: colc, quoted: False)), alias:
   (IDENTIFIER this: NewName2, quoted: False))]

In [35]:
# for x in scope_ast.expression.selects:
#     print(repr(x))
#     print(x.find_all(exp.Column))
#     print(x.alias)
#     print(x.alias_column_names)

scope_ast.expression.selects[1].alias

'newName'

In [87]:
scope_ast.sources

{'CTE': Scope<SELECT cola AS id FROM Table>,
 'tmp': Scope<SELECT cola AS cola2, colb FROM tabled>,
 'cte': Scope<SELECT cola AS id FROM Table>}

In [94]:
scope_ast.sources['CTE'].columns

[(COLUMN this:
   (IDENTIFIER this: cola, quoted: False))]

In [39]:
# Get Select part
# Ti cau select trong ast
selects = scope_ast.expression.selects
selects[0].

AttributeError: 'Column' object has no attribute 'Column'

In [56]:
scope_ast.sources

{'CTE': Scope<SELECT cola AS id FROM Table>,
 'tmp': Scope<SELECT cola AS cola2, colb FROM tabled>,
 'cte': Scope<SELECT cola AS id FROM Table>}

In [58]:
list(find_all_in_scope(scope_ast,exp.Column))

[(COLUMN this:
   (IDENTIFIER this: cola, quoted: False)),
 (COLUMN this:
   (IDENTIFIER this: colc, quoted: False)),
 (COLUMN this:
   (IDENTIFIER this: colb, quoted: False)),
 (COLUMN this:
   (IDENTIFIER this: cold, quoted: False)),
 (COLUMN this:
   (IDENTIFIER this: cola, quoted: False), table:
   (IDENTIFIER this: tmp, quoted: False)),
 (COLUMN this:
   (IDENTIFIER this: id, quoted: False), table:
   (IDENTIFIER this: cte, quoted: False)),
 (COLUMN this:
   (IDENTIFIER this: cola, quoted: False), table:
   (IDENTIFIER this: tmp, quoted: False))]

In [6]:

scope_ast.unqualified_columns[1]

AttributeError: 'NoneType' object has no attribute 'unqualified_columns'

In [ ]:
scope_ast.join_hints

[]

In [ ]:
item = list(find_all_in_scope(scope_ast, exp.Alias))[0]
item2  = scope_ast.external_columns[1]

In [27]:
item1 = item.find

item1

NameError: name 'item' is not defined

In [ ]:
isinstance(scope_ast.expression, exp.Select)

True

In [ ]:
for select in scope_ast.find_all(exp.Select):
    print(select.expressions)

[(COLUMN this:
  (IDENTIFIER this: cola, quoted: False)), (ALIAS this:
  (COLUMN this:
    (IDENTIFIER this: colb, quoted: False)), alias:
  (IDENTIFIER this: newName, quoted: False))]